.image-content{
     width: 765px; /* largura */
     height: 400px; /* altura */
}

.text-content{
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 2560px) and (min-width: 1440px){ /* Nesse caso, criou-se um range específico para largura de telas */
     .image-content{
          width: 1000px;
          height: auto;
     }

     .title-content{
          font-size: 63px;
     }

     .text-content{
          font-size: 50x;
     }
}

@media(max-width: 790px){
     .image-content{
          width: 95%;
          height: auto;
     }

     .text-content{
          font-size: 18px;
     }
}

@media(max-width: 425px){ /* Escolhe-se 320px porque é o, normalmente, menor tamanho de tela mobile que se vá enontrar hoje em dia */
     .image-content{
          width: 100%;
          height: auto;
     }

     .title-content{
          text-align: center;
     }

     .text-content{
          font-size: 16px;
          text-align: center;
     }
}
                          /* após completa as alteraçoes em 320 em pixels, vai se aumentando o tamanho da tela e vendo se alterações são necessárias */
@media(max-width: 320px){ /* nesse caso, os 320 pixels agora passam para cá, e se muda os pixels do media query anterior, que agora será de 425 pixels */
     .text-content{
          font-size: 14px;
     }
}